target
.settings
.classpath
.project
.vlt
.checkstyle
.pmd
.pmdruleset.xml
.DS_Store
node_modules
/repository/
repository.xml
derby.log
.idea
aem
dist
docs
#ignore IDEA 
*.iml

#for Jenkins
.repository/
