<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="rockPaperScissorsController"
          class="uk.co.jamesmcguigan.rockpaperscissors.controllers.RockPaperScissorsController">
        <property name="gameService" ref="gameService"/>
        <property name="gestureService" ref="gestureService"/>
    </bean>

    <bean id="gameService" class="uk.co.jamesmcguigan.rockpaperscissors.services.GameService">
        <property name="gestureService" ref="gestureService"/>
    </bean>

    <bean id="gestureService" class="uk.co.jamesmcguigan.rockpaperscissors.services.GestureService">
    </bean>

</beans>